@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* properti ini diletakkan paling atas (app.tsx) dengan  "dark" */
[data-theme="dark"] {
	--background-color: black;
	--color: lightcyan;
}
.dark {
	background: var(--background-color);
	color: var(--color);
}

.header-container {
	border-bottom: 2px;
	box-shadow: inset;
}
